<h1>Your Minesweeper Board has been created!</h1>
<p>Hello <%= @board.name %>,</p>
<p>Your new board has been successfully created. You can view it by clicking the link below:</p>
<p><%= link_to 'View your board', @url %></p>
<p>Best regards,</p>
<p>The Minesweeper Team</p>
